.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .nav {
    width: 1440px;
    height: auto;
    display: flex;
    padding: 16px 80px;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.800000011920929) 0%, rgba(0, 0, 0, 0.6000000238418579) 50%, rgba(64, 64, 64, 0) 100%);
  }
  .divcontainer {
    gap: 92.30000305175781px;
    width: 1280px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .link {
    display: flex;
    align-items: flex-start;
  }
  .div {
    height: 47.880001068115234px;
    display: flex;
    padding: 0 8px;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .logopng {
    width: 160px;
    height: 48px;
  }
  .divhidden {
    width: 722.5599975585938px;
    height: 48px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .link1 {
    top: 13px;
    left: 0px;
    width: 81px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .sv-gmargin {
    width: 38px;
    height: 22px;
    align-self: stretch;
  }
  .psub-partner-semi-bold {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .text {
    color: rgba(240, 240, 240, 1);
    height: auto;
    font-size: 14px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
  }
  .linkmargin {
    top: 13px;
    left: 80.27999877929688px;
    width: 127px;
    display: flex;
    padding: 0 23.360000610351562px 0 24px;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .link2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sv-gmargin1 {
    width: 38px;
    height: 22px;
    align-self: stretch;
  }
  .psub-partner-semi-bold1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .text02 {
    color: rgba(85, 84, 95, 1);
    height: auto;
    font-size: 14px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
  }
  .linkmargin1 {
    top: 12px;
    left: 207.63999938964844px;
    width: 126px;
    display: flex;
    padding: 0 23.37999725341797px 0 24px;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .link3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sv-gmargin2 {
    width: 40px;
    height: 24px;
    align-self: stretch;
  }
  .psub-partner-semi-bold2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .text04 {
    color: rgba(85, 84, 95, 1);
    height: auto;
    font-size: 14px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
  }
  .linkmargin2 {
    top: 12px;
    left: 334.0199890136719px;
    width: 111px;
    display: flex;
    padding: 0 24px;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .link4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .svg {
    width: 24px;
    height: 24px;
  }
  .psub-partner-semi-boldmargin {
    width: 39.33000183105469px;
    display: flex;
    padding: 0 0 0 8px;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .text06 {
    color: rgba(85, 84, 95, 1);
    height: auto;
    font-size: 14px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
  }
  .linkmargin3 {
    top: 13.5px;
    left: 445.3500061035156px;
    width: 141px;
    display: flex;
    padding: 0 15.220001220703125px 0 16px;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .link5 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div1 {
    display: flex;
    padding: 0 8px;
    align-items: flex-start;
    flex-direction: column;
  }
  .academynavbariconpng {
    width: 24px;
    height: 19px;
    opacity: 0.30;
  }
  .psub-partner-semi-bold3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .text08 {
    color: rgba(85, 84, 95, 1);
    height: auto;
    font-size: 14px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
  }
  .link6 {
    top: 0px;
    left: 586.5599975585938px;
    width: 136px;
    display: flex;
    padding: 0 0 0 80px;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .div2 {
    display: flex;
    padding: 0 8px 0 0;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .searchiconpng {
    width: 48px;
    height: 48px;
  }
  .divhidden1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .link7 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div3 {
    display: flex;
    padding: 0 24px 0 0;
    align-items: flex-start;
    flex-direction: column;
  }
  .barcodeiconpng {
    width: 24px;
    height: 24px;
  }
  .pfontbold {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .text10 {
    color: rgba(240, 240, 240, 1);
    height: auto;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  